@model ICollection<SocialNetwork.Core.Entities.UserProfile>

@{
    Layout = "../_Layout";
    ViewBag.Title = "Profiles";
}


<div>
    @foreach (var profile in Model)
    {
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@profile.FirstName @profile.LastName</h5>
                <h6 class="card-subtitle mb-2 text-muted">City: @profile.City, Age: @profile.Age</h6>
                <p class="card-text">@profile.Interests</p>
                <a href="#" class="card-link">Go to profile</a>
            </div>
        </div>
    }
</div>