@model ICollection<SocialNetwork.Core.Entities.UserProfile>

@{
    Layout = "../_Layout";
    ViewBag.Title = "Profiles";
}

<div>
    <h1>Profiles</h1>
    
    <div>
        @foreach (var profile in Model)
        {
            <p><b>FirstName:</b> @profile.FirstName</p>
            <p><b>LastName:</b> @profile.LastName</p>
            <p><b>Age:</b> @profile.Age</p>
            <p><b>City:</b> @profile.City</p>
            <p><b>Interests:</b> @profile.Interests</p>
            <br/>
        }
    </div>
</div>