@model SocialNetwork.Core.Entities.UserProfile

@{
    Layout = "../_Layout";
    ViewBag.Title = @Model.FirstName + " Profile";
}


<div>
    <h2>Your profile:</h2>
    <p><b>FirstName:</b> @Model.FirstName</p>
    <p><b>LastName:</b> @Model.LastName</p>
    <p><b>Age:</b> @Model.Age</p>
    <p><b>City:</b> @Model.City</p>
    <p><b>Interests:</b> @Model.Interests</p>
</div>